#content > *,
#contentPane div[role='region'] > div:nth-of-type(1) > div:nth-of-type(3),
div[guidedhelpid='streamcontent'] > div:nth-of-type(3) > div > div
{
    background: #efefef;
    background-color: #efefef;

}

div[id^='update'] > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(3)
{
    border-bottom: 0!important;
}

div[id^='update'] div
{
    box-shadow: 0;
}

div[id^='update'] > div,
div[data-iid] > div,
div[guidedhelpid='sharebox_launcher'] > div
{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}


div[id^='update'],
div[id^='update'] > div:nth-of-type(2) > :first-child
{
    background: none;
    background-color: none;
}

div[data-iid] > div,
div[id^='update'] > div,
div[guidedhelpid='sharebox_launcher'] > div
{
    border-bottom-width: 1px;
}


div[guidedhelpid='sharebox_launcher']
{
    box-shadow: none!important;
}

div[id^='update'] > div:nth-of-type(2)
{
    border-top-width: 1px;
    border-radius: 3px;
}


img[oid]
{
    border-radius: 5%;
}

a[target='_blank'][tabindex]:link,
a[target='_blank'][tabindex]:hover,
a[target='_blank'][tabindex]:visited,
a.proflink[oid],
div[id^='update'] span[role='button'][tabindex],
div[id^='update'] > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) a
{
    color: #427fed!important;
}

a[target='_blank'][tabindex]+div > a:link,
a[target='_blank'][tabindex]+div > a:hover,
a[target='_blank'][tabindex]+div > a:visited
{
    color: gray!important;
}

div[id^='update'] > div:nth-of-type(2) div:not([id])
{
    color: rgb(40, 40, 40);
}


div[guidedhelpid='sharebox_textarea']
{
    font-size: 13px;
}

div[id^='update'] > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1)
{
}

div[id^='update'] > div:nth-of-type(2)
{
    border-top: 2px solid #B9C5D4!important;
}


div[id^='update'] > div:nth-of-type(2):hover
{
    border-top: 2px solid #627FA5!important;
}


div[aria-live='assertive'] > div[role='button']
{
    positon: absolute;
    left: -9999px;
}


#content > div:nth-of-type(2) > div:nth-of-type(3)
{

}


div[guidedhelpid='ribbon_home'] > a
{
    background-color: #f5f5f5;
}

div[role='navigation']
{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid #e5e5e5;
    height: 46px;
}

div[role='navigation'],
#content > div:nth-of-type(2) > div:nth-of-type(1)
{
    background: #f5f5f5!important;
    background-color: #f5f5f5!important;
}

#content + div > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1)
{
    background: none;
    background-color: none;
}


div[role='region'] div[guidedhelpid]
{
    color: black!important;
}
    
    
div[guidedhelpid='sharebox_launcher'] > div:nth-of-type(1)
{
}
    
    
div[id^='update']  > div
{
}
    